.header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    border-bottom: 1px solid #d0d0d0;
}
a {
    text-decoration: none;
    color: #484848;
    transition: 0.3s ease-out;
}
a:hover {
    color: #7fbfff;
}
.shop_item {
    text-align: left;
    font-weight: bold;
}
.shop_artist {
    font-size: 12px;
    font-weight: bold;
}
.shop_description {
    font-size: 12px;
    max-width: 300px;
}
.shop_price {
    text-align: center;
    font-weight: bold;
}
.cart_item {
    font-size: 1.0rem;
    margin: 0;
    font-weight: bold;
}
.cart_price {
    margin: 0;
}
.cart_stock {
    font-size: 1.0rem;
    margin-left: 5rem;
    margin-right: 1rem;
}
.cart_title {
    font-weight: bold;
    font-size: 1.25rem;
}
